[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
django-import-export = "*"
tzdata = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
